
/**
 * 6.0 - Pages
 *   6.1 - Single post, page
 */
 .single:not(.single-job_listing) .header-content,
 .single:not(.single-job_listing) .entry-content,
 .single:not(.single-job_listing) .entry-footer,
 .single:not(.single-job_listing) .comments-area,
 .single:not(.single-job_listing) .post-navigation,
 .page .header-content,
 .page .entry-content,
 .page .entry-footer,
 .page .comments-area,
 .page .post-navigation,
 .error404 .header-content,
 .error404 .entry-content,
 .search-no-results .header-content,
 .search-no-results .entry-content,
 .upsells,
 .related {
     max-width: 760px;
 }
 
 .page.page-template-full_width .header-content,
 .page-my-bookmarks .header-content,
 .woocommerce-account.logged-in .header-content,
 .page.page-template-full_width .entry-content,
 .page-my-bookmarks .entry-content,
 .woocommerce-account.logged-in .entry-content,
 .page.page-template-full_width .entry-footer,
 .page-my-bookmarks .entry-footer,
 .woocommerce-account.logged-in .entry-footer,
 .page.page-template-full_width .comments-area,
 .page-my-bookmarks .comments-area,
 .woocommerce-account.logged-in .comments-area,
 .page.page-template-full_width .post-navigation,
 .page-my-bookmarks .post-navigation,
 .woocommerce-account.logged-in .post-navigation,
 .page.page-template-full_width_no_title .entry-content,
 .page.page-template-full_width_no_title .entry-footer,
 .page.page-template-full_width_no_title .comments-area,
 .page.page-template-full_width_no_title .post-navigation {
     max-width: 1060px;
 }
 
 .single:not(.single-job_listing) .site-main,
 .page .site-main {
     padding-bottom: 60px;
 }
 
 .single:not(.single-job_listing) .header-content,
 .single:not(.single-job_listing) .entry-content,
 .single:not(.single-job_listing) .entry-footer,
 .single:not(.single-job_listing) .comments-area,
 .single:not(.single-job_listing) .post-navigation,
 .page .header-content,
 .page .entry-content,
 .page .entry-footer,
 .page .comments-area,
 .page .post-navigation {
     margin: 0 auto;
     padding: 0 30px;
 }
 @media not screen and (min-width: 740px) {
     .single:not(.single-job_listing) .header-content,
     .single:not(.single-job_listing) .entry-content,
     .single:not(.single-job_listing) .entry-footer,
     .single:not(.single-job_listing) .comments-area,
     .single:not(.single-job_listing) .post-navigation,
     .page .header-content,
     .page .entry-content,
     .page .entry-footer,
     .page .comments-area,
     .page .post-navigation {
         padding: 0 26px;
     }
 }
 
 .single:not(.single-job_listing) .entry-header,
 .page .entry-header {
     padding: 70px 0 55px 0;
     position: relative;
     text-align: center;
 }
 .single:not(.single-job_listing) .entry-header.has-image,
 .page .entry-header.has-image {
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
     min-height: 350px;
 
     -webkit-align-items: center;
     align-items: center;
 }
 .single:not(.single-job_listing) .entry-header.has-image:before,
 .page .entry-header.has-image:before {
     background-color: black;
     bottom: 0;
     content: "";
     left: 0;
     opacity: 0.6; 
     position: absolute;
     right: 0;
     top: 0;
     z-index: 2;
 }
 .single:not(.single-job_listing) .entry-header.has-image .entry-title,
 .single:not(.single-job_listing) .entry-header.has-image .entry-subtitle,
 .single:not(.single-job_listing) .entry-header.has-image .entry-meta,
 .single:not(.single-job_listing) .entry-header.has-image div.sd-social.sd-social > div.sd-content.sd-content ul li > a span,
 .page .entry-header.has-image .entry-title,
 .page .entry-header.has-image .entry-subtitle,
 .page .entry-header.has-image .entry-meta,
 .page .entry-header.has-image div.sd-social.sd-social > div.sd-content.sd-content ul li > a span {
     color: white;
 }
 .single:not(.single-job_listing) .entry-header .header-content,
 .page .entry-header .header-content {
     position: relative;
     z-index: 5;
 }
 .single:not(.single-job_listing) .entry-header .sharedaddy,
 .page .entry-header .sharedaddy {
     margin-bottom: -10px;
 }
 
 .single:not(.single-job_listing) .entry-featured,
 .page .entry-featured {
     background-color: #f9f9f9;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     border-bottom: 1px solid rgba(0, 0, 0, 0.075); 
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }
 
 .single:not(.single-job_listing) .entry-title,
 .page .entry-title {
     color: black; 
     margin-bottom: 10px;
 }
 
 .single:not(.single-job_listing) .entry-subtitle,
 .page .entry-subtitle {
     color: #919191; 
     display: block;
     font-size: 18px;
     margin-top: -3px;
     position: relative;
 }
 .single:not(.single-job_listing) .entry-subtitle + .sharedaddy,
 .page .entry-subtitle + .sharedaddy {
     margin-top: 10px;
 }
 
 .single:not(.single-job_listing) .entry-meta,
 .page .entry-meta {
     font-size: 14px; 
     margin-bottom: 7px;
 }
 .single:not(.single-job_listing) .entry-meta > *,
 .page .entry-meta > * {
     font-weight: 600;
 }
 .single:not(.single-job_listing) .entry-meta time,
 .page .entry-meta time {
     padding: 0 5px;
 }
 .single:not(.single-job_listing) .entry-meta a,
 .page .entry-meta a {
     color: #919191;
 }
 .has-image .single:not(.single-job_listing) .entry-meta a,
 .has-image
   .page .entry-meta a {
     color: white;
 }
 
 .single:not(.single-job_listing) .category-link:before,
 .page .category-link:before {
     content: "\2022";
     margin-left: 5px; 
     margin-right: 5px;
 }
 
 .single:not(.single-job_listing) .category-link:first-of-type:before,
 .page .category-link:first-of-type:before {
     margin-left: 0;
 }
 
 .single:not(.single-job_listing) div.sd-social.sd-social > div.sd-content.sd-content ul li > a,
 .page div.sd-social.sd-social > div.sd-content.sd-content ul li > a {
     font-size: 11px;
     letter-spacing: 0.183em; 
     padding: 10px;
 }
 
 .single:not(.single-job_listing) .entry-content,
 .page .entry-content {
     -webkit-hyphens: none;
     hyphens: none; 
     margin-bottom: 40px;
     padding-bottom: 60px;
     padding-bottom: 0;
     padding-top: 60px;
 
     -ms-hyphens: none;
 }
 .single:not(.single-job_listing) .entry-content div.sharedaddy,
 .page .entry-content div.sharedaddy {
     margin-top: 30px;
 }
 .single:not(.single-job_listing) .entry-content div.sharedaddy div.sd-social.sd-social > div.sd-content.sd-content ul,
 .page .entry-content div.sharedaddy div.sd-social.sd-social > div.sd-content.sd-content ul {
     margin-bottom: -10px !important;
     margin-left: -10px !important;
 }
 .single:not(.single-job_listing) .entry-content div.sharedaddy div.sd-social.sd-social > div.sd-content.sd-content ul li,
 .page .entry-content div.sharedaddy div.sd-social.sd-social > div.sd-content.sd-content ul li {
     margin: 0 10px !important;
     margin-bottom: 10px !important;
 }
 .single:not(.single-job_listing) .entry-content div.sharedaddy div.sd-social.sd-social > div.sd-content.sd-content ul li > a,
 .page .entry-content div.sharedaddy div.sd-social.sd-social > div.sd-content.sd-content ul li > a {
     border: 2px solid rgba(0, 0, 0, 0.075);
     border-radius: 4px; 
     padding: 6px 20px;
 }
 .single:not(.single-job_listing) .entry-content .page-links,
 .page .entry-content .page-links {
     margin: 30px 0;
 }
 
 .single:not(.single-job_listing) .entry-footer,
 .page .entry-footer {
     margin-bottom: 60px;
 }
 
 .single:not(.single-job_listing) .post-navigation,
 .page .post-navigation {
     margin-bottom: 40px; 
     margin-top: 40px;
 }
 .single:not(.single-job_listing) .post-navigation .nav-links,
 .page .post-navigation .nav-links {
     margin: 0;
 }
 
 .single:not(.single-job_listing) .comments-area,
 .page .comments-area {
     margin-top: 40px;
 }
 
 .single:not(.single-job_listing) .comment-reply-title,
 .page .comment-reply-title {
     display: none;
 }
 
 .single:not(.single-job_listing) .comment-form,
 .page .comment-form {
     padding-top: 35px;
 }
 
 .page.page-template-full_width_no_title .entry-content {
     padding-top: 0;
 }
 
 .single-job_listing .site-content {
     max-width: none;
 }
 
 .single-job_listing .entry-header {
     text-align: left;
 }
 
 .single-job_listing .entry-content {
     padding: 0;
 }
 
 .single-job_listing .entry-header:before {
     background: white;
 }
 
 @media only screen and (min-width: 900px) {
     .error404 .site-content,
     .search-no-results .site-content {
         min-height: 700px;
     }
 }
 
 .error404 .header-content,
 .error404 .entry-content,
 .search-no-results .header-content,
 .search-no-results .entry-content {
     margin: 0 auto;
     padding: 0 30px;
 }
 
 .error404 .entry-header,
 .search-no-results .entry-header {
     background-color: #f9f9f9;
     border-bottom: 1px solid rgba(0, 0, 0, 0.075);
     padding: 70px 0;
     text-align: center;
 }
 
 .error404 .entry-content,
 .search-no-results .entry-content {
     margin: 0 auto; 
     max-width: 700px;
     padding-bottom: 70px;
     padding-top: 70px;
 }
 
 .post-password-form {
     background-color: white;
     margin: 60px auto;
     max-width: 385px;
 }
 .entry-content .post-password-form {
     margin-top: 60px;
 }
 
 /**
  *   6.2 - Front page
  */
 .page-template-front_page .entry-header .wp-video {
     left: 50%;
     max-width: none; 
     opacity: 0;
     position: absolute;
     top: 50%;
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     transition: opacity 0.3s ease-in-out;
     z-index: 1;
 }
 .page-template-front_page .entry-header .wp-video.is--stretched {
     opacity: 1;
 }
 .page-template-front_page .entry-header .wp-video.is--stretched .mejs-video {
     height: 100% !important; 
     width: 100% !important;
 }
 
 .page-template-front_page .entry-header .mejs-controls {
     display: none !important;
 }
 
 .page-template-front_page .entry-header .header-content {
     max-width: 100%; 
     z-index: 35;
 }
 
 .touchevents .page-template-front_page .entry-header .mejs-overlay-play {
     display: none;
 }
 
 .page-template-front_page .entry-featured {
     background-color: #1e1e1e;
     overflow: hidden;
 }
 
 .page-template-front_page h1.entry-title {
     color: white;
 }
 
 .page-template-front_page .site-main {
     padding-bottom: 0;
 }
 
 .page-template-front_page .site-content {
     margin-top: 0;
 }
 .page-template-front_page .site-content:empty {
     display: none;
 }
 
 .page-template-front_page .entry-header {
     height: auto; 
     padding-bottom: 230px;
     padding-top: 230px;
 }
 @media not screen and (min-width: 740px) {
     .page-template-front_page .entry-header {
         height: auto;
         padding: 130px 0 16px;
     }
     .page-template-front_page .entry-header .header-content {
         margin-bottom: 150px;
     }
 }
 .is--ie9 .page-template-front_page .entry-header {
     display: table;
     width: 100%;
 }
 
 .page-template-front_page .entry-header,
 .page-template-front_page .header-content {
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
 }
 
 .page-template-front_page .header-content {
     -ms-flex-pack: center;
 
     -webkit-flex-grow: 1;
     flex-grow: 1;
     -ms-flex-positive: 1;
     -webkit-justify-content: center;
     justify-content: center;
 }
 @media only screen and (min-width: 900px) {
     .page-template-front_page .header-content {
         max-width: 1025px;
     }
 }
 .is--ie9 .page-template-front_page .header-content {
     display: table-cell;
     vertical-align: middle;
 }
 .is--ie9 .page-template-front_page .header-content > * {
     display: block;
 }
 
 .page-template-front_page .entry-title {
     margin-bottom: 0;
 }
 
 .page-template-front_page .entry-subtitle.entry-subtitle {
     font-weight: 300; 
     margin-bottom: 13px;
 }
 @media only screen and (min-width: 740px) {
     .page-template-front_page .entry-subtitle.entry-subtitle {
         margin-bottom: 33px;
     }
 }
 .page-template-front_page .entry-subtitle.entry-subtitle p {
     margin-bottom: 0;
 }
 
 .page-template-front_page .header--transparent .custom-logo-link:not(.custom-logo-link--light) {
     -webkit-filter: invert(1) hue-rotate(180deg) contrast(2);
     filter: invert(1) hue-rotate(180deg) contrast(2);
 }
 
 .page-template-front_page .site-header {
     box-shadow: none; 
     position: absolute;
 }
 
 .page-template-front_page .top-categories-center {
     display: inline-block;
 }
 @media only screen and (min-width: 900px) {
     .page-template-front_page .top-categories-center {
         margin-left: 170px;
         margin-right: 170px;
     }
 }
 
 .page-template-front_page .top-categories {
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: stretch;
     -ms-flex-pack: center;
     margin: 0 auto;
     position: relative;
 
     -webkit-align-items: stretch;
     align-items: stretch;
     -webkit-flex-wrap: nowrap;
     -ms-flex-wrap: nowrap;
     flex-wrap: nowrap; 
     -webkit-justify-content: center;
     justify-content: center;
 }
 .is--ie9 .page-template-front_page .top-categories {
     display: table;
     width: 100%;
 }
 .is--ie9 .page-template-front_page .top-categories > * {
     display: table-cell;
     vertical-align: middle;
 }
 .page-template-front_page .top-categories .cat__icon svg,
 .page-template-front_page .top-categories .cat__icon img {
     margin: 0 !important;
     max-height: 30px;
     max-width: 30px;
     min-height: 20px;
     min-width: 20px;
 }
 .page-template-front_page .top-categories .cat__icon img {
     border-radius: 50%;
 }
 
 .page-template-front_page .top-categories {
     bottom: 16px;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-pack: center;
     left: 0;
     position: absolute;
     text-align: center;
     width: 100%;
     z-index: 30;
 
     -webkit-justify-content: center;
     justify-content: center;
 }
 @media only screen and (min-width: 740px) {
     .page-template-front_page .top-categories {
         bottom: 32px;
         padding: 0 32px;
     }
 }
 @media only screen and (min-width: 900px) {
     .page-template-front_page .top-categories {
         padding: 0 170px;
     }
 }
 .page-template-front_page .top-categories a {
     background: rgba(255, 255, 255, 0.15); 
     border-radius: 2px;
     color: white;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -ms-flex-pack: end;
     font-size: 0.875rem;
     margin-right: 1px;
     max-width: 80px;
     padding: 15px 6px 14px;
 
     -webkit-align-items: center;
     align-items: center;
     -webkit-flex: 0 1 80px;
     -ms-flex: 0 1 80px;
     flex: 0 1 80px;
     -webkit-justify-content: flex-end;
     justify-content: flex-end;
 }
 @media not screen and (min-width: 740px) {
     .page-template-front_page .top-categories a {
         background: none !important;
         padding-left: 13px;
         padding-right: 13px; 
         width: auto;
 
         -webkit-flex: auto;
         -ms-flex: auto;
         flex: auto;
     }
     .page-template-front_page .top-categories a:nth-of-type(n+6) {
         display: none;
     }
 }
 .page-template-front_page .top-categories a > * {
     display: block;
     text-align: center;
 }
 .page-template-front_page .top-categories a:hover {
     background: rgba(255, 255, 255, 0.2);
 }
 .page-template-front_page .top-categories .cta-text {
     bottom: 100%;
     color: white;
     -webkit-hyphens: initial;
     hyphens: initial; 
     left: 100%;
     margin-left: 20px;
     position: absolute;
     width: 150px;
 
     -ms-hyphens: initial;
 }
 .is--ie .page-template-front_page .top-categories .cta-text {
     white-space: pre-line; 
     width: 120px;
 }
 @media not screen and (min-width: 900px) {
     .page-template-front_page .top-categories .cta-text {
         display: none;
     }
 }
 .page-template-front_page .top-categories .cta-text:after {
     background: url("assets/svg/arrow-curved.svg") center center no-repeat;
     background-size: cover; 
     content: "";
     display: block;
     height: 50px;
     left: 10px;
     margin-top: 5px;
     position: absolute;
     top: 100%;
     width: 58px;
 }
 
 .page-template-front_page .cat__text {
     font-size: 13px;
     font-weight: 300; 
     overflow-x: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     width: 100%;
 }
 .is--ie9 .page-template-front_page .cat__text {
     margin-top: 10px;
 }
 
 .is--ie9 .page-template-front_page .category-icon svg {
     margin-top: 30px;
 }
 
 .is--ios .page-template-front_page .entry-featured video::-webkit-media-controls-start-playback-button {
     display: none;
 }
 
 .is--ios .page-template-front_page .entry-featured .mejs-overlay-loading {
     display: none;
 }
 
 .is--ie .cat__icon circle,
 .is--ie .category-icon circle {
     display: none;
 }
 
 @media only screen and (min-width: 900px) {
     .page-template-front_page .site-header .menu-wrapper.has--long-menu {
         overflow: hidden;
     }
 }
 
 /**
  *   6.3 - Blog page
  */
 
.blog .site-header {
    box-shadow: none; 
    position: absolute;
}