// ------ #STYLE GUIDE
$tiny:                      500px;
$small:						740px;
$lap: 						900px;
$desk: 						1200px;

// High-level base settings.
$base-font-size:            16px;
$base-line-height:          24px;
$gutter: 					30px;