.skip-link {
  display: none;
}

.screen-reader-text {
	position:absolute;
	left:-1000em;
}

#page {
  position: relative;
}

.edit-link {
	overflow: hidden;
	margin: 1px;
}

.edit-link > a {
  float: right;
}


.wp-caption-text,
.gallery-caption {
	font-size: 85%;
	font-weight: lighter;
}