.site-header .site-title {
  font-family: Noto Sans;
  font-weight: 700;
}
.primary-menu > ul,
ul.primary-menu a {
  font-family: Noto Sans;
  font-weight: 400;
}
input,
textarea,
label,
html {
  font-family: Noto Sans;
}
.entry-title,
.card__title,
.widget-sidebar-title,
.widget-footer-title {
  font-family: Noto Sans;
  font-weight: 700;
}
.comments-title,
.entry-related__title,
comment-reply-title,
.comment-reply-title {
  font-family: Noto Sans;
  font-weight: 400;
}
.card__title {
  font-family: Noto Sans;
  font-weight: 700;
}
.card {
  font-family: Noto Sans;
  font-weight: 400;
}

input[type="submit"],
button[type="submit"],
input[type="submit"],
.btn,
.nav-links a {
  font-family: Noto Sans;
  font-weight: 700;
}
.card-meta,
.post-meta {
  font-family: Noto Sans;
  font-weight: 400;
}

.site-branding img {
  max-height: 32px;
}
.site-header__in {
  max-width: 1140px;
}
.section-wrap {
  max-width: 1140px;
}
.content-area__wrapper {
  max-width: 1140px;
}
.blog .content-area__wrapper {
  max-width: 1140px;
}
.widget-area__footer,
.footer-infoarea {
  max-width: 1140px;
}
.site-header,
.primary-menu ul .children,
ul.primary-menu .sub-menu {
  background-color: #ffffff;
}
.site-header .site-title,
.menu-trigger,
.search-trigger--mobile,
ul.primary-menu li a,
.menu-wrapper a,
ul.primary-menu .menu-item a,
ul.primary-menu > .menu-item-has-children {
  color: #32325d;
}
.menu-trigger svg {
  fill: #32325d;
}
.primary-menu > .menu-item-has-children:before,
.primary-menu > .menu-item-has-children:before,
ul.primary-menu > .menu-item-has-children:before {
  border-color: #32325d;
}
.header--transparent .primary-menu ul .children a,
.header--transparent ul.primary-menu .sub-menu a,
.primary-menu ul .header--transparent .children a,
.primary-menu ul a,
.menu-wrapper a,
.primary-menu ul .page_item a,
ul.primary-menu ul .menu-item a,
.primary-menu ul .page_item_has_children > a,
ul.primary-menu ul .menu-item-has-children > a,
ul.primary-menu ul .menu-item-has-children {
  color: #6b7c93;
}
.menu-item-has-children:before {
  border-color: #6b7c93;
}
.primary-menu li.current_page_item a,
ul.primary-menu li.current_page_item a {
  color: #2d7df0;
}
.hero-header__content {
  color: #fff;
}
.hero-category__list li {
  border-color: #fff;
}
.hero-category__list li a:hover {
  background-color: rgba(15, 15, 15, 0.3);
}
#hero-header__overlay1 {
  fill: #6d42ef;
}
#hero-header__overlay2 {
  fill: #00eaf8;
}
.hero-header__overlay3 {
  background-color: #fff;
}
.hero-header__overlay3 {
  opacity: 0.5;
}
.hero-category__list li {
  border-width: 1px;
}
.hero-category__list li {
  border-radius: 20px;
}
html,
.single .content-area__wrapperIn {
  background-color: #ffffff;
}
.blog,
.archive,
.single .content-area,
.error404 .entry-header,
.search-no-results .entry-header {
  background-color: #f9f9f9;
}
body .widget_tag_cloud .tagcloud a:hover,
.single-post .entry-content .tags-links a:hover {
  color: #f9f9f9;
}
.page-title,
.single:not(.single-job_listing) .entry-title,
.page .entry-title,
.card__title,
h1,
h2,
h3,
h4,
h5,
h6,
.comment-header,
#wp-calendar thead,
.widget-sidebar-title {
  color: #484848;
}
.widget_subtitle--frontpage {
  color: #919191;
}
label,
html,
body,
body .site .widget a,
.comment-wrapper .comment-meta a.comment-reply-link,
.comment-wrapper .comment-meta a.comment-edit-link,
.site-content a.text {
  color: #6b7c93;
}
input[type="checkbox"]:focus,
.package__btn.package__btn:hover {
  border-color: #6b7c93;
}
.widget-sidebar-title:after {
  background: #cfe0f7;
}
.btn,
input[type="submit"],
.page-template-front_page .search-form .search-submit,
.job-manager-form
  fieldset
  .job-manager-uploaded-files
  .job-manager-uploaded-file
  .job-manager-uploaded-file-preview
  a,
.woocommerce-account:not(.logged-in)
  .woocommerce
  form.login
  input[type="submit"],
.woocommerce .button,
.popup__rating,
.single-action-buttons .action:hover .action__icon,
.action--favorite.bookmarked .action__icon,
.package--labeled .package__btn.package__btn,
.featured-label,
.product .product__tag,
.wc-bookings-date-picker .ui-datepicker td > a:hover,
.wc-bookings-date-picker .ui-datepicker table .bookable-range a,
.wc-bookings-date-picker .ui-datepicker table .ui-datepicker-current-day a,
.block-picker > li a.selected,
.block-picker > li a:hover,
.lwa-form input[type="submit"]:hover,
.no-results .clear-results-btn {
  background-color: #22dfb5;
}

.btn,
input[type="submit"] {
  color: #fff;
  margin-bottom: 10px;
}
.nav-links a {
  background-color: #fff;
}
.card {
  background-color: #ffffff;
}
.card.format-quote .card-meta,
.card.format-quote .card__content,
.card.format-quote blockquote a,
.entry-featured__qoute {
  color: #ffffff;
}
.grid .card.format-quote .bitcoin__icon svg use {
  fill: #ffffff;
}
.postcard {
  border-radius: 8px;
}
.card .card__image {
  border-top-left-radius: 8px;
}
.grid--tile .card .card__image {
  border-top-right-radius: 8px;
}
.card .card__sticky {
  border-bottom-left-radius: 8px;
}
.card__categories li a,
.entry-header-categories__links li a {
  border-radius: 14px;
}
.card__title {
  color: #484848;
}
.card,
.card__content,
.card--post.sticky {
  color: #6b7c93;
}
.card__title:hover,
.card__title:focus,
.card:not(.format-quote) .posted-on:hover,
.card:not(.format-quote) .posted-on:focus,
.posted-by:hover,
.posted-by:focus,
.card-gallery__slider .slick-arrow,
.single-post .slick-arrow {
  color: #22dfb5;
}
.format-standard.card .card__toplink:before,
.format-link.card .card__toplink:before,
.card .card__sticky {
  background-color: #22dfb5;
}
.format-quote .card__toplink,
.entry-featured__qoute__bkgrnd {
  background-color: rgba(2, 2, 13, 0.95);
}
.grid--tile .bitcoin__icon use,
.single-post .likes-count .bitcoin__icon use,
.single-post .comments-count .bitcoin__icon use {
  fill: #22dfb5;
}
.site-footer {
  background: #f9f9f9;
}
.widget--footer {
  color: #6b7c93;
}
.site-copyright-area,
.footer-infoarea .social-info {
  color: #6b7c93;
}
.card__links li a,
html body .mejs-container,
html body .mejs-container .mejs-controls,
html body .mejs-embed,
html body .mejs-embed body,
.entry-header-categories__links li a {
  background-color: #22dfb5;
}
progress::-webkit-progress-bar,
progress::-moz-progress-bar. progress::-webkit-progress-value {
  background: #22dfb5;
}
*::selection,
*::-moz-selection {
  background: #22dfb5;
}
body .widget_tag_cloud .tagcloud a:hover,
.single-post .entry-content .tags-links a:hover {
  background: #22dfb5;
}
body .widget_tag_cloud .tagcloud a,
.single-post .entry-content .tags-links a {
  border-color: #22dfb5;
}
a:not(.btn),
#wp-calendar #today,
body .widget_tag_cloud .tagcloud a,
.widget_recent_entries span.post-date,
.site .widget a:not(.tag-cloud-link):hover,
.site .widget a:not(.tag-cloud-link):focus,
.single-post .entry-content .tags-links a {
  color: #22dfb5;
}
.page-template-front_page .is--active .search-field-wrapper.has--menu:after,
ul.secondary-menu > .menu-item.menu-item-has-children > .sub-menu:after,
.search_jobs--frontpage
  .chosen-with-drop.chosen-container-active
  .chosen-single:after {
  border-top-color: #22dfb5;
}
.description,
.entry-meta a,
.page .entry-meta a,
.card-meta {
  color: #8fa0ad;
}
html body .mejs-controls .mejs-time-rail .mejs-time-current {
  background-color: #8fa0ad;
}
.form-control::placeholder,
input::placeholder {
  color: #8fa0ad;
}
.form-control,
input {
  color: #71828f;
}
.form-control::focus::placeholder,
input::focus::placeholder {
  color: #8fa0ad;
}
input,
textarea {
  border-color: #8fa0ad;
}
.description_tooltip {
  color: #8fa0ad;
}
.site-header {
  border-bottom-color: #ababab;
}
.site-footer {
  border-top-color: #ababab;
}
hr {
  background-color: #ababab;
}
.site-header .site-title {
  font-size: 24px;
}
.site-header .site-title {
  text-transform: None;
}
.site-header .site-title {
  letter-spacing: 0px;
}
.primary-menu > ul a,
ul.primary-menu a,
.search-suggestions-menu li a {
  font-size: 16px;
}
.primary-menu > ul a,
ul.primary-menu a,
.search-suggestions-menu li a {
  text-transform: Capitalize;
}
.primary-menu > ul a,
ul.primary-menu a,
.search-suggestions-menu li a {
  letter-spacing: 0px;
}
.card__title,
.widget-sidebar-title,
.widget-footer-title {
  text-transform: None;
}
.comments-title,
.entry-related__title,
comment-reply-title,
.comment-reply-title {
  text-transform: Uppercase;
}
.comments-title,
.entry-related__title,
comment-reply-title,
.comment-reply-title {
  font-size: 22px;
}
.card__title {
  font-size: 24px;
}
.card__title {
  text-transform: None;
}
.card__title {
  letter-spacing: 0px;
}
input[type="submit"],
button[type="submit"],
input[type="submit"],
.btn,
.nav-links a {
  font-size: 15px;
}
input[type="submit"],
button[type="submit"],
input[type="submit"],
.btn {
  text-transform: None;
}
input[type="submit"],
button[type="submit"],
input[type="submit"],
.btn,
.nav-links a {
  letter-spacing: 0px;
}
.card-meta,
.post-meta {
  font-size: 14px;
}
.card-meta,
.post-meta {
  text-transform: None;
}
.card-meta,
.post-meta {
  letter-spacing: 0px;
}
@media screen and (min-width: 900px) {
  .site-header {
    padding-top: 0px;
  }
  ul.primary-menu > .menu-item > a,
  .header--transparent ul.primary-menu > .menu-item > a {
    padding-left: 20px;
  }
}
@media screen and (min-width: 900px) {
  .site-header {
    padding-bottom: 0px;
  }
  ul.primary-menu > .menu-item > a {
    padding-right: 20px;
  }
  .primary-menu ul > .cta.page_item,
  ul.primary-menu > .cta.menu-item {
    border-color: #ebebeb;
  }
}
@media only screen and (min-width: 900px) {
  .postcards,
  .widget-area__posts {
    padding-top: 60px;
  }
}
@media only screen and (min-width: 900px) {
  .postcards,
  .widget-area__posts {
    padding-bottom: 60px;
  }
}
@media not screen and (min-width: 900px) {
  .primary-menu ul .children,
  ul.primary-menu .sub-menu {
    background-color: #e1e1e1;
  }
}
