
 /**
  *   3.6 - Forms
  */
 /*----------------------------------------*INPUTS / FORMS

 /**
  *
  * Shared size and type resets for form controls. Apply `.form-control` to any
  * of the following form controls:
 */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.form-control
    height: 40px
    border-width: 1px 
    border-style: solid
    border-radius: 4px
    display: block
    max-width: 100%
    outline: 0
    padding: 0.8125rem 0.9375rem
    vertical-align: middle
    width: 100%
    appearance: none
    margin-bottom: 10px
    box-sizing: border-box
    +tr(box-shadow 1s)
    &:focus
        opacity: 1
        box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.8) inset, 0 0 0 2px rgba(0, 126, 255, 0.1)
    &::placeholder
        box-shadow: 0 0 0px 1000px transparent inset 
    &:focus::placeholder
        opacity: .6
        box-shadow: 0 0 0px 1000px #fff inset 
    &:-webkit-autofill
        box-shadow: 0 0 0px 1000px rgb(240, 240, 240) inset 
        -webkit-text-fill-color: #6f6f6f
    &:focus:-webkit-autofill
        -webkit-text-fill-color: rgba(black, .7)
        box-shadow: 0 0 0px 1000px #fff inset

textarea
    height: auto
    min-height: 80px
    resize: vertical

.form-control input
    outline: 0 
    padding: 12px 0
    width: 100%
    height: 40px
    border-radius: 4px
    padding: 0 18px

.input-block
    display: block
    width: 100%

.form-inline,
.search-form
    display: inline-flex
    margin: -5px
    align-items: flex-start
    & > *
        margin: 5px
        
.form-inline
    padding-top: 15px
    label
        position: relative
        top: -23px

input[type="file"] 
    border: 0




button
    outline: none
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    &:focus
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.005), 0 0 0 2px rgba(0, 126, 255, 0.1)
input[type="submit"],
button, .btn
    display: inline-block
    color: #fff
    border: none
    border-radius: rem(4px)
    padding: 0 rem(15px)
    height: rem(40px)
    line-height: rem(40px)
    letter-spacing: 0.56px
    -webkit-appearance: none
    +tr(all .5s linear)
    opacity: 1
    margin-bottom: rhythm(.5)
    &:hover,
    &:active
        opacity: .8
        border: none



.btn-white
    background-color: white

.btn-mini
    height: 22px
    line-height: 22px
    font-size: 12px

.btn-flat
    background-color: transparent
    color: rgba(0, 122, 207, 0.85)
    text-decoration: underline
    font-weight: 700

.btn-flat2
    background-color: transparent
    color: #323232
    text-decoration: none
    font-weight: 400
    +tr(color .4s)
    &:hover
        color: rgba(0, 122, 207, 0.85)

.btn-block
    display: block
    width: 100%


fieldset 
    border: 0
    margin: 0 
    padding: 0


input,
select,
textarea
    background: white
    border: 1px solid rgba(0, 0, 0, 0.075) 
    border-radius: 3px
    box-shadow: none
    font-size: 14.95px
    line-height: normal

input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
    color: #919191 
    font-style: normal
    font-weight: 300
    opacity: 1



select 
    background-image: url("assets/img/select-arrow.svg")
    background-position: calc(100% - 10px) 15px
    background-repeat: no-repeat
    cursor: pointer 
    padding-right: 32px
    white-space: nowrap


label 
    color: #484848
    font-size: 14.95px
    font-weight: 400 
    line-height: 1.67


input[type="checkbox"] 
    border: 1px solid rgba(0, 0, 0, 0.075) 
    cursor: pointer
    height: 22px
    position: relative
    vertical-align: middle
    width: 22px

    -webkit-appearance: none

input[type="checkbox"]:checked:before 
    content: ""
    left: 50%
    position: absolute
    top: 50%
    -webkit-transform: translateX(-50%) translateY(-50%)
    -ms-transform: translateX(-50%) translateY(-50%)
    transform: translateX(-50%) translateY(-50%)

input[type="checkbox"]:focus 
    border-color: #484848

/**
 ------------------------------------*	2. $Checkboxes and radios
 *
 * Indent the labels to position radios/checkboxes as hanging controls.
 */
.radio,
.checkbox 
    display: block
    margin-bottom: 6px
    margin-top: 6px
    padding-left: 3px
    vertical-align: middle

.radio label,
.checkbox label 
    cursor: pointer 
    display: inline
    font-weight: normal
    margin-bottom: 0


.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] 
    float: left
    margin-left: 12px


.radio + .radio,
.checkbox + .checkbox 
    margin-top: -6px


.radio-inline,
.checkbox-inline 
    cursor: pointer 
    display: inline-block
    font-weight: normal
    margin-bottom: 0
    padding-left: 12px
    vertical-align: middle


.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline 
    margin-left: 6px 
    margin-top: 0



.widget-area__posts
    form input:not([type="submit"]),
    form select,
    form textarea 
        background-color: white
        color: #484848 
        font-size: 14px
        line-height: 1.3
        margin-bottom: 0.5em
        padding: 0px 13px


    form label 
        display: block
        font-size: 14px
        font-weight: normal



    form select,
    form textarea,
    form input[type="text"],
    form input[type="password"],
    form input[type="datetime"],
    form input[type="datetime-local"],
    form input[type="date"],
    form input[type="month"],
    form input[type="time"],
    form input[type="week"],
    form input[type="number"],
    form input[type="email"],
    form input[type="url"],
    form input[type="search"],
    form input[type="tel"],
    form input[type="color"],
    form .form-control 
        border-radius: 4px


    form select 
        padding-right: 32px


    form button,
    form input[type="submit"] 
        width: 100%


    form input[type="file"] 
        line-height: 1 
        padding: 0


    form input[type="number"] 
        padding-right: 8px


    form input[type="checkbox"] 
        height: 28px


    form .search-submit 
        z-index: -1





/**
 *   Contact Form 7
 */
.wpcf7 
    p 
        position: relative

    div.wpcf7-response-output 
        border-radius: 4px 
        font-size: 14px
        line-height: 1.3
        margin: 0
        padding: 8px 13px


    span.wpcf7-not-valid-tip 
        font-size: 14px
        position: relative
        top: -4px

    .ajax-loader
        position: absolute
        height: 0
        width: 0
        visibility: hidden
        pointer-events: none

    span.wpcf7-list-item 
        margin-left: 0
        margin-right: 1em