.error404 
  .has__404
    .hero-header__background
      padding: rem(40px) rem(40px)
  .title-404
    font-size: 80px
    margin-bottom: 4px
  .hero-header__content--404 
    flex-flow: column
    padding: 10px
    margin: 0 auto
    text-align: center
    justify-content: center
    align-items: center
  .content-area
    margin: 0 !important
    padding: 0 !important
  .site-content
      display: flex
      flex: 1 1 100%
      .hero-header
        display: flex
        flex: 1 1 100%
        justify-content: center
        align-items: center
      .hero-header__background
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center