.error404  .site-main
  .has__404
    +r(900)
        padding: rem(110px) rem(110px)
    .hero-header__background
      padding: rem(40px) rem(40px)
      +r(900)
        padding: rem(0px) rem(10px)
  .hero-header__content .content-area__wrapper
    flex-flow: column
    padding: 10px
    text-align: center
    justify-content: center
    align-items: center