.content-area__wrapper
  display: flex
  margin: 0 auto
  align-items: flex-start
  .content-area
    width: 100%
    overflow: hidden
    margin-top: 20px
    margin-bottom: 20px
    .single &
      padding: 0 20px 50px
      box-shadow: 0 16px 20px rgba(0, 0, 0, 0.02)
      padding: 45px 50px
      border-radius: 4px
      +r(768)
        padding: 15px 20px
        margin-top: 0px
        margin-bottom: 0px
    .entry-content
      padding: 0 10px

.page-area__wrapper
  margin: 0 auto
  padding: 0px 20px
  .postcards--frontpage
      .grid__item
          max-width: 30%
          +r(768)
              max-width: 100%


.site
  min-height: 100vh
  display: flex
  flex: 0 0 auto
  flex-direction: column
  width: 100%
  overflow: hidden
  
  .entry-content
    position: relative
    z-index: 10

.edit-link a
  padding: 10px 10px

/*------------------------------------*/
/*------------------------------------	 $Paginations
 \*------------------------------------*/


.nav-links
  display: flex
  justify-content: space-between
  padding: 40px 0 0
  a
      display: inline-block
      vertical-align: middle
      text-transform: uppercase
      border-radius: 4px
      height: 40px
      line-height: 40px
      letter-spacing: 0.56px
      padding: 0 18px
      +tr(all .5s)
      &:hover,
      &:focus
        opacity: 0.9
  .nav-previous
    margin-right: auto
  .nav-next
    margin-left: auto