.page-header,
.page-header-background {
    background: #f9f9f9 center no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    padding: 1.875rem;
    text-align: center;
}
@media only screen and (min-width: 900px) {
    .page-header,
    .page-header-background {
        padding: 3.75rem;
    }
}

.page-header.has-featured-image {
    background: black;
    position: relative;
}
@media only screen and (min-width: 900px) {
    .page-header.has-featured-image {
        padding: rem(300px / 2) rem(100px / 2);
    }
}
.page-header.has-featured-image + .postcards {
    padding-top: 60px;
}
.page-header.has-featured-image .page-header-background {
    height: 100%;
    left: 0;
    pointer-events: none; 
    position: absolute;
    top: 0;
    width: 100%;
}
.page-header.has-featured-image .header-content {
    position: relative;
}
.page-header.has-featured-image .category-list li:after,
.page-header.has-featured-image .category-list a {
    color: white;
}
.page-header.has-featured-image .entry-subtitle {
    color: white;
}

@media only screen and (min-width: 900px) {
    .page-header:not(.has-featured-image) {
        padding: 7.5rem 3.75rem;
    }
}

.category-list {
    margin-bottom: 0;
}
.category-list li {
    display: inline-block;
}
.category-list li:after {
    content: "/";
    margin: 0 5px;
}
.category-list li:last-child:after {
    content: none;
}
.category-list li,
.category-list li > a,
.category-list li:after {
    display: inline-block;
    vertical-align: middle;
}
.category-list a {
    font-size: 1.125rem;
}

/**
 *   4.17 - Page title
 */
.page-title {
    color: #484848;
    margin-bottom: 0;
    position: relative;
}
.has-featured-image .page-title,
.page-template-front_page .page-title {
    color: white;
}
.page-template-front_page .page-title {
    font-size: 48px;
}
@media not screen and (min-width: 740px) {
    .page-template-front_page .page-title {
        margin-bottom: 5px;
    }
    .page-title.page-title {
        font-size: 24px;
    }
}
