.single-post {
    .post-navigation {
      display: none;
    }
}
.blog .site-header {
  box-shadow: none; 
  position: absolute;
}
.page-header__overlay1,
.page-header__overlay2{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
