.search-results .site-main
  .hero-header:not(.has__searchpost)
    padding: rem(180px) rem(100px / 2)
    +r(900)
       padding: rem(250px) 20px rem(40px)
  .hero-header__content .content-area__wrapper
    flex-flow: column
    padding: 10px
    text-align: left