/**
 *   4.17 - Hero header
 */


.hero-header
    position: relative
    background-size: 100% 100%
    background-size: cover
    text-align: center

    &__overlay1,
    &__overlay2,
    &__overlay3
        position: absolute
        top: 0
        right: 0
        left: 0
        bottom: 0
        z-index: 0
    &
        background: black
        position: relative
        z-index: 1
        // padding: rem(300px / 3.5) rem(100px / 2)
        // +r(900)
        //     padding: rem(300px / 4) 20px rem(40px)
        // &.has__categories
        //     padding: rem(300px / 2) rem(100px / 2)
        //     +r(900)
        //         padding: rem(300px / 2) 20px rem(40px)
        .hero-header__background
            // height: 100%
            // left: 0
            // position: absolute
            // top: 0
            background-position: center
            background-size: cover
            width: 100%
            padding: rem(110px / 2) rem(30px) rem(30px)
            +r(900)
                padding: rem(100px / 3) rem(30px) rem(30px)
            body.header--transparent &
                padding: rem(100px) rem(30px) rem(30px)
                +r(900)
                    padding: rem(100px / 2) rem(30px) rem(30px)
        // &.has__categories .hero-header__background
        //     padding: rem(110px) 20px rem(0px)
        //     +r(900)    
        //         padding: rem(65px) 20px rem(40px)
    .hero-header__content
        z-index: 20
/**
 *   4.16 - Hero Categories
 */
.hero-category__list
    position: relative
    margin-top: rem(48px)
    margin-bottom: 0
    color: inherit
    z-index: 10
    +r(900)
        height: rem(42px)
        overflow-x: auto
        margin-top: rem(4px)
        overflow-y: hidden
        white-space: nowrap
    li
        display: inline-block
        vertical-align: middle
        border-style: solid
        margin: 0 rem(8px) rem(8px)
        overflow: hidden
        a 
            display: inline-block
            vertical-align: middle
            font-size: rem(11px)
            font-weight: 600
            padding: rem(6px) rem(20px)
            color: inherit
            +tr(background-color 1s)
            &:hover
                opacity: 1

/**
 *   4.17 - Page title
 */
.hero-title
    color: inherit
    margin-bottom: 16px
    position: relative
    .has__featured__image &,
    .page-template-front_page &
        color: inherit
    .page-template-front_page &
        +r(900)
            margin-bottom: 5px
