.site
    // Visual Composer shortcodes
    .vc_general.vc_btn3
        padding-top: 10px 
        padding-bottom: 10px 

    .vc_btn3.vc_btn3-size-md
        padding-top: 10px 
        padding-bottom: 10px
    
    .vc_col-has-fill>.vc_column-inner, .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, .vc_section.vc_section-has-fill, .vc_section.vc_section-has-fill+.vc_row-full-width+.vc_section, .vc_section.vc_section-has-fill+.vc_section
        padding-top: 0 
    .wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li
        margin-bottom: 0


    button.vc_general.vc_btn3-style-custom
        color: #fff
        border: none !important
        border-radius: rem(4px)
        letter-spacing: 0.56px
        -webkit-appearance: none
        background-image: none !important
        opacity: 1
        &:hover,
        &:active
            background-image: none !important
            opacity: .9
            border: none  !important

    .vc_tta-panel-body
        margin: -1px
        padding: 0px !important
        border: 0px !important
    
    .wpb_video_wrapper .jetpack-video-wrapper
        margin-bottom: 0


    .vc_tta-panel-heading
        border: none !important

    .vc_tta.vc_tta-accordion.vc_tta-style-outline .vc_tta-panel-title>a,
    .vc_tta.vc_tta-accordion.vc_tta-style-outline .vc_tta-panel-body > div
        padding-left: 80px !important

    .vc_tta.vc_tta-accordion.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-heading:focus, 
    .vc_tta.vc_tta-accordion.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-heading:hover
        background-color: transparent !important


    .vc_tta.vc_tta-accordion.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-title>a:hover,
    .vc_tta.vc_tta-accordion.vc_tta-style-outline .vc_tta-panel-heading:focus .vc_tta-controls-icon::after, .vc_tta.vc_tta-accordion.vc_tta-style-outline .vc_tta-panel-heading:focus .vc_tta-controls-icon::before, .vc_tta.vc_tta-accordion.vc_tta-style-outline .vc_tta-panel-heading:hover .vc_tta-controls-icon::after, .vc_tta.vc_tta-accordion.vc_tta-style-outline .vc_tta-panel-heading:hover .vc_tta-controls-icon::before
        color: inherit !important
        border-color:  inherit !important

    // TimeLine shortcode
    .cd-timeline-icon-link:hover
        opacity: 1 !important

    .cd-timeline-img
        width: 18px 
        height: 18px 
        margin-left: -9px 
        box-shadow: -6px 4px 15px rgba(0,0,0,0.15)  
        +tr(transform .5s)
        +r(881)
            margin-left: 15px
        > span
            display: none !important
        &:hover,
        &:focus
            transform: scale(1.2)
    #cd-timeline:before
        top: 20px 
        box-shadow: -6px 4px 15px rgba(0,0,0,0.15) 

    .timeline-express-read-more-link
        display: none !important

    .cd-timeline-block
        .cd-timeline-content
            background: transparent !important
            box-shadow: none !important
            padding-top: 0px !important
            margin-top: -20px
            +r(881)
                margin-top: 0px
            &:before
                +r(881)
                    display: none
                +rmin(822)
                    top: 8px 
                    left: 100% 
        .cd-timeline-item-title
            font-size: 22px 
            font-weight: 700 
            line-height: 40px 
        .timeline-date
            color: #5e6ee0 
            font-size: 17px 
            font-weight: 700 
            font-style: normal 
        .the-excerpt p
            font-size: 14px
            font-weight: 400

        &:nth-child(odd)
            +rmin(882)
                .cd-timeline-title-container
                    text-align: right !important
                .the-excerpt
                    text-align: right !important

    // Bitstarter shortcodes 

    .bitstarter__slider 
        margin-left: -20px  
        margin-right: -20px

        .slick-next
            right: 15px
            &:before
                @extend %icon
                content: $fa-var-long-arrow-right
                color: white
                font-size: 25px
                margin-right: -5px
                margin-top: 2px
        .slick-prev
            left: 15px
            &:before
                @extend %icon
                content: $fa-var-long-arrow-left
                color: white
                font-size: 25px
                margin-right: -5px
                margin-top: 2px
        .slick-arrow
            font-size: 0px
            width: 50px
            height: 50px
            border-radius: 50%
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
            z-index: 100
        .slick-dots 
            bottom: 0
        .slick-dots li
            width: 60px
            height: 4px
            &:focus
                outline: none
            & button
                width: 60px
                height: 4px
                &:focus
                    outline: none
                    box-shadow: none
                &:before
                    content: ''
                    width: 60px
                    height: 4px
                    display: block
                    background: rgba(0,0,0,.7)




    .testimonials
        //margin: -20px
        &__in 
            display: flex
            height: 360px
            box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12)
            border-radius: 4px
            overflow: hidden
            margin: 20px 40px 55px
            .testimonials__image
                height: 360px
                width: 360px
                flex: 1 0 360px
                img
                    height: 100%
                    width: auto
            +r(768)
                flex-flow: column
                justify-content: center
                align-items: center
                height: auto
                .testimonials__image
                    height: auto
                    img
                        width: 100%
                        object-fit: cover
                        height: auto

        &__content
            padding: 40px 60px
            overflow: hidden
            & .alignnone, 
            & .aligncenter
                margin: auto
                display: inline-block
    
    .bitstarter-video-right
        +rmin(769)
            perspective: 1000px
            perspective-origin: center
            > div
                transition: transform .5s ease-in-out   
                transform: rotate3d(0, 1, 0, -20deg) scale(.95)
                transform-origin:  center
                &:hover
                    transform: rotate3d(0,1,0,0deg) scale(1)
                iframe
                    border-radius: 8px
                    overflow: hidden
                    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.10)

    .bitstarter-video-left
        +rmin(769)
            perspective: 1000px
            perspective-origin: center
            > div
                transition: transform .5s ease-in-out   
                border-radius: 10px
                overflow: hidden
                transform: rotate3d(0, 1, 0, 20deg) scale(.95)
                transform-origin:  center
                &:hover
                    transform: rotate3d(0,1,0,0deg) scale(1)
        
    .bitstarter-calc
        &__in
            display: flex
            flex-flow: column
            justify-content: center
            align-items: center
            width: 100%
            margin: 40px 0
            box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12)

        
        &__header
            width: 263px
            height: 35px
            line-height: 35px
            border-radius: 27px
            background-color: #6b7c93
            color: #ffffff
            font-size: 17px
            text-transform: uppercase
            text-align: center
            margin-top: -15px
        &__entry,
        &__stats
            display: flex
            align-items: baseline
            justify-content: center
            height: auto
            width: 100%
            overflow: hidden
            background-color: #ffffff
            +r(768)
                flex-direction: column
        &__entry
            border-radius: 4px 4px 0 0
            display: flex
            align-items: center
            justify-content: space-around
            width: 760px
            padding: 0 0 20px
            position: relative
            +r(768)
                width: 100%
            input,
            select
                width: 94px
                border: 1px solid #e4e6ea
                padding-top: 0
                padding-bottom: 0 
            input
                width: 160px
            &__coin,
            &__currency
                .bitstarter-calc__error
                    display: none
                    position: absolute
                    top: 80px
                    color: rgba(219, 0, 0, .63)
                    font-size: 10px
                &.invalid 
                    .bitstarter-calc__error
                        display: block
                    input
                        border-color: rgba(219, 0, 0, .63)
            &__coin
                &:after
                    content: ''
                    position: absolute
                    left: 50%
                    top: 5px
                    display: block
                    width: 2px
                    height: 65px
                    border: 1px solid #e4e6ea
                    +r(768)
                        content: none
        &__stats
            border-radius:  0 0 4px 4px
            background-color: #f6f9fc
            &__row
                display: flex
            ul
                display: flex
                justify-content: space-between
                width: 100%
                padding: 70px
                list-style: none
                +r(768)
                    flex-direction: column
                li
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: center
                    .bitstarter-calc__stats__symbol
                        margin-right: 5px 
                        color: #8f6ed5
                    .bitstarter-calc__stats__amount
                        color: #8f6ed5
                        font-size: 17px
                        font-weight: 700
                        line-height: 26px
                        margin: 0
                    .bitstarter-calc__stats__decs
                        color: #586881
                        font-size: 16px
                        font-weight: 400
                        line-height: 26px

    .bitstarter-counter
        position: relative
        &__wrap 
            max-width: 600px
            margin-left: auto
            margin-right: auto
            position: relative
    
            
        
        &--pie 
            .bitstarter-counter__holder
                transform: rotate(-90deg)
            
        

        &--linear 
            margin-bottom: 20px
            .bitstarter-counter__description 
                padding: 0
                text-align: left
            
            .bitstarter-counter__wrap 
                max-width: 100%
            

            .bitstarter-counter__holder,
            .label__wrap 
                position: relative
                display: inline-block
                vertical-align: middle
                letter-spacing: 0
                line-height: 0
                font-size: 0
            

            .bitstarter-counter__holder 
                width: calc(100% - 95px)
            
            .bitstarter-counter-label__wrap 
                position: relative
                top: -2px
                width: 90px
                padding-left: 10px
                text-align: right
                &__data 
                    font-size: 20px
                    line-height: 27px
                
            
        &__image
            width: 74px
            margin: 0 auto
            img
                width: 100%
                height: auto
                padding-bottom: 20px 
        &--text 
            text-align: center

            .bitstarter-counter__holder,
            .bitstarter-counter-label__wrap 
                position: relative
                &__data 
                    margin: auto
                    font-size: 30px
                    line-height: 41px
                    font-weight: 400

        .bitstarter-counter__description 
            font-weight: 400
            text-align: center
            padding: 5px 0 20px
            margin-top: 0
        

        .bitstarter-counter__holder 
            padding-bottom: 100%
    
.team
    &__in
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        padding: 20px
        border-radius: 10px
        overflow: hidden
        margin-bottom: 20px
        +clr
        &.team__in--excerpt
            display: block
            float: left
            min-height: 276px
            min-width: 280px
    &__picture
        height: 86px
        width: 86px
        border-radius: 50%
        overflow: hidden
        .team__in--excerpt &
            float: left
        img
            width: 100%
            height: auto
    &-info
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        padding-top: 20px
        .team__in--excerpt &
            display: block
            float: left
            padding-left: 20px 
            padding-top: 0
        &__name
            margin: 0
            margin-top: 3px
        &__position
            margin-bottom: 7px
        &__social
            display: flex
            list-style: none  !important
            margin: 0 !important
            padding-left: 0 !important
    .team__in--excerpt &__excerpt
        padding-top: 110px
        font-size: 14px
        font-weight: 400
        line-height: 26px


.bitstarterCard
    &__in
        position: relative
        width: 556px
        margin: 0 auto
        border-radius: 10px
        +r(768)
            width: 100%
    &__title
        font-size: 26px
        font-weight: 700
        position: absolute
        top: 0
        left: 0
        right: 65px
        text-transform: uppercase
        line-height: 100%
        bottom: 0%
        height: 100%
        width: 65px
        display: flex
        align-items: center
        justify-content: center
        span
            display: inline-block
            white-space: nowrap
            transform: rotate(-90deg)

    &__content
        padding: 10px 35px 
        margin-left: 65px
        border-left: 2px solid
    .bitstarterCard__content table
            table-layout: fixed
            background: transparent
            border: none
            border-collapse: separate
            border-radius: 0
            border-spacing: 0
            font-size: inherit
            width: 100%
            td
                height: 40px
                vertical-align: top
            td:first-child
                padding: 0 30px 0 0

.bitstarterMark
    display: flex
    align-content: center
    justify-content: flex-start
    padding: 20px 0
    +r(768)
        padding: 5px 0
    &__mark
        width: 20px
        height: 10px
        border-radius: 12px
        flex: 0 0 20px
        overflow: hidden
        margin: 6px
        margin-right: 15%
    &__content
        font-size: 14px
        font-weight: 700


.bitstarterDistibution
    padding: 20px 0
    +r(768)
        display: flex
    &__line
        display: flex
        border-radius: 10px
        overflow: hidden
        height: 10px
        +r(768)
            height: auto
            flex-direction: column
            width: 50%
            border-radius: 0
            overflow: visible
            > div
                height: 10px
                margin-bottom: 10px


    &__percentage
        display: flex
        justify-content: center
        align-items: center
        height: 10px
        margin-top: 20px
        +r(768)
            margin-top: 0px
            height: auto
            flex-direction: column
            width: 50%
        > div
            display: flex
            justify-content: center
            align-items: center
            font-weight: 700
            +r(768)
                height: 10px
                margin-bottom: 10px

.counterDown
    &__in
        min-width: 360px
        border-radius: 10px
        overflow: hidden
        padding: 20px 30px
    &__title
        margin: 0px 0 20px
        text-align: center
        font-size: 17px
        font-weight: 700
        text-transform: uppercase
    &__timer 
        display: flex
        justify-content: space-between
        text-align: center
        margin-bottom: 10px
        flex-wrap: wrap
        &__datatime
            width: 54px
            height: 54px
            border-radius: 4px
            border: 1px solid #e4e6ea
            text-align: center
            margin-bottom: 5px
            vertical-align: middle
            line-height: 52px
        &__datamark
            height: 15px
            opacity: .8
            font-size: 11px
            text-align: center
            font-weight: 600
    &__row
        display: flex
        justify-content: space-between
        align-items: flex-start
        position: relative
    &-s1
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        flex: 1 1 auto
        &__title
            min-width: 127px
            height: 36px
            font-size: 26px
            font-weight: 700
            text-align: center
        &__subtitle
            height: 15px
            font-size: 11px
            font-weight: 600
            text-align: center
            opacity: .8
    &-s2
        display: flex
        justify-content: center
        flex-direction: column
        flex: 1 1 auto
        margin-top: 30px 
        &__title
            height: 23px
            font-size: 17px
            font-weight: 700
            text-align: center
        &__subtitle
            height: 15px
            font-size: 11px
            font-weight: 600
            text-align: center
            margin-top: 30px
            opacity: .8
        &--left
            align-items: flex-start
        &--right
            align-items: flex-end
    &-progress
        position: absolute
        top: 60px
        z-index: 10
        height: 10px
        width: 100%
        opacity: .7
        border-radius: 12px
        overflow: hidden
        &__done
            position: absolute
            z-index: 11
            top: 0
            height: 10px
    &-contect
        padding-top: 20px
        table
            background: transparent !important
            border: transparent !important
            td
                height: auto  !important
                padding: 0  !important
        span
            margin: 0
    &__timer__datatime--hide-years
        display: none
        & + .counterDown__timer__datatime--hide-months
            display: none
            & + .counterDown__timer__datatime--hide-days
                display: none
                & + .counterDown__timer__datatime--hide-hours
                    display: none
                    & + .counterDown__timer__datatime--hide-minutes
                        display: none
                        & + .counterDown__timer__datatime--hide-seconds
                            display: none
